# Core dependencies
streamlit
crewai
crewai-tools
anthropic
pysqlite3-binary

# Additional dependencies needed by CrewAI
chromadb
langchain
langchain-aws
langchain-community
langchain-core
langchain-openai
litellm
pandas
requests
python-dotenv